a:hover, a:focus{
    color: #e00000;  
}
/*Menu Items category view*/
#main-wrapper .all-menu-details .qty-cart input[type="number"] {
    border: 1px solid #cccccc;
    border-radius: 7px;
    float: left;
    height: 30px;
    margin-right: 10px;
    margin-top: 11px;
    padding: 5px 10px;
    text-align: center;
    width: 60px;
}
#main-wrapper .all-menu-details .price-option button:before{
    left: 5px;
}

/*Sidebar categories Menu*/
#main-wrapper .category{
    padding: 16px 14px;
}
#main-wrapper .category ul{

}
#main-wrapper .category ul li{
    border-bottom: 1px solid #e6e6e6;
    padding: 4px 0; 
}
#main-wrapper .category ul li.active a{color: #e00000;}
#main-wrapper .category ul li:last-child{
    border-bottom: 0 none;
}
#main-wrapper .category ul li i{
    color: #e00000;
    font-size: 16px;
    margin-right: 4px;
}
#main-wrapper .category ul li a{

}
#main-wrapper .category ul li:hover a{
    color: #e00000;
}

#main-wrapper .my-check-right{
    z-index: 20;
}
#main-wrapper .all-menu-details .qty-cart button:before{
    left: 10px;
    top: 3px;
}
#main-wrapper .all-menu-details .price-option button.active:before {
    left: 5px;
    top: 6px;
}
#main-wrapper .all-menu-details .dropdown-option .dropdown-details h6 {
  //  clear: both;
}
#main-wrapper .all-menu-details .dropdown-option .dropdown-details .radio-input {
    position: relative;
}
#main-wrapper .my-check-right ul li{
    
}
#main-wrapper .my-check-right ul li p{
    display: block;
    line-height: 1;
    padding: 0 4px 0 0;
    position: relative;
}
#main-wrapper .my-check-right ul li .price {
    color: #e00000;
}
#main-wrapper .my-check-right ul li p .icon-link {
    position: absolute;
    right: 0;
    top: 0;
}
#cart_item{
    max-height: 300px;
    overflow-y: scroll;
}
#save_card ,#store_address, #payment_method{
    width:auto;
    height:auto;
}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #main-wrapper .my-check-right{
        position: relative;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}
